.table-view {
    .ant-table-thead > tr > th {
        text-align: center;
    }

    .ant-table-cell {
        padding: 8px 12px;
    }
    
    .posterImage {
        width: 50px;
        height: auto;
    }

    @media (max-width: 768px) {
        .ant-table-thead > tr > th {
            font-size: 12px;
        }

        .ant-table-cell {
            padding: 8px;
            font-size: 12px;
        }

        .posterImage {
            width: 40px; 
        }

        .ant-table {
            font-size: 12px;
        }
    }

    @media (max-width: 480px) {
        .ant-table-thead > tr > th {
            font-size: 10px;
        }

        .ant-table-cell {
            padding: 6px;
            font-size: 10px;
        }

        .posterImage {
            width: 30px; 
        }
    }
}
