.grid-view {
    .ant-card {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .ant-card-hoverable {
        &:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }
    }

    .empty-container  {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        margin-left: 8px;
        margin-right: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .movie-meta {
        display: flex;
        flex-direction: column;
    }
}
