.grid-view {
    .ant-card {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .ant-card-hoverable {
        &:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }
    }
}
