.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .ant-pagination-item-ellipsis {
        color: white !important;
    }

    .ant-pagination-item:not(.ant-pagination-item-active):hover {
        background-color: #ffffffa6 !important;
    }

    .anticon svg {
        color: white;
    }

}